html {
  scroll-behavior: smooth;
}
a,
a:active,
a:visited {
  text-decoration: underline wavy hsla(277.4, 54.1%, 54.7%, 1);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
header h1 a,
header h1 a:active,
header h1 a:visited {
  text-decoration: none;
  color: #606c76;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  margin-right: 1rem;
}
main {
  padding: 1rem clamp(1rem, 2rem, 3rem);
  max-width: 900px;
  margin: auto;
}
section {
  margin-bottom: 2rem;
}
.imgContainer {
  margin-bottom: 2rem;
}
.imgContainer img {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
code,
section {
  font-size: clamp(1.3rem, 6vw, 1.6rem);
}
.tooltip {
  position: relative;
}
.tooltip:hover::before {
  opacity: 1;
}
.tooltip::before {
  content: attr(data-content);
  position: absolute;
  top: -3.2rem;
  left: 50%;
  border: 1px solid purple;
  max-width: 20rem;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  opacity: 0;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  transition: opacity 150ms linear;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  border: 1px dashed purple;
  width: 100%;
}
#topBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.emphasize {
  color: #9b4dca;
  font-size: 1.75rem;
  font-weight: bold;
}
footer {
  text-align: center;
}

/* Exercises page */
.article {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 2.5rem 1rem hsla(277.4, 54.1%, 54.7%, 0.6);
  padding: 2rem 3rem;
  margin-bottom: 7rem;
}

.article__header {
  font-size: 3rem;
  color: hsla(277.4, 54.1%, 54.7%, 1);
  margin-bottom: 3rem;
}

.article__footer {
  color: hsla(277.4, 54.1%, 54.7%, 1);
  font-size: 2rem;
}
