html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  margin-right: 1rem;
}
main {
  padding: 1rem clamp(1rem, 2rem, 3rem);
  max-width: 900px;
  margin: auto;
}
section {
  margin-bottom: 2rem;
}
.imgContainer {
  margin-bottom: 2rem;
}
.imgContainer img {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
code,
section {
  font-size: clamp(1.3rem, 6vw, 1.6rem);
}
.tooltip {
  position: relative;
}
.tooltip:hover::before {
  opacity: 1;
}
.tooltip::before {
  content: "{...code...}";
  position: absolute;
  top: -3.2rem;
  left: 0;
  border: 1px solid purple;
  max-width: 20rem;
  padding: 0.1rem 0.5rem;
  border-radius: 3px;
  opacity: 0;
  background: rgb(255, 255, 255);
  transition: opacity 150ms linear;
}
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  border: 1px dashed purple;
  width: 100%;
}
#topBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
